.icon {
  width: 3rem;
  height: 3rem; }
  .icon i, .icon svg {
    font-size: 2.25rem; }
  .icon + .icon-text {
    padding-left: 1rem;
    width: calc(100% - 3rem - 1); }



 .icon-shape {
  padding: 12px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; }
  .icon-shape i, .icon-shape svg {
    font-size: 1.25rem; }
  .icon-shape.icon-lg i, .icon-shape.icon-lg svg {
    font-size: 1.625rem; }
  .icon-shape.icon-sm i, .icon-shape.icon-sm svg {
    font-size: .875rem; }
  .icon-shape svg {
    width: 30px;
    height: 30px; }


.bg-info {
  background-color: #11cdef !important; }


  .card-stats{

  	background-color: ;
  }

 #fragment{
  	background-color: #dff7df;
  }